<!-- left section -->
<div class="col-md-9 bg-white height-auto">
    <div class="bg-auto">
        <!-- form detail header -->
        <div class="pr-md pl-md pt-lg pb-lg">
            <div class="box-layout">
                <div class="col-xs-2 text-right">
                </div>
            </div>
        </div>
        <!--/ form detail header -->

        <!-- form detail collapseable -->
        <div class="collapse" id="custom-object-details">
            <div class="pr-md pl-md pb-md">
                <div class="panel shd-none mb-0">
                    <table class="table table-bordered table-striped mb-0">
                        <tbody>
                            {{ include('@MauticCore/Helper/details.html.twig', {'entity': customObject}) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ form detail collapseable -->
    </div>

    <!--/ detail collapseable toggler -->
    <div class="bg-auto bg-dark-xs">
        <div class="hr-expand nm">
                <span data-toggle="tooltip" title="Detail">
                    <a href="javascript:void(0)" class="arrow text-muted collapsed" data-toggle="collapse"
                       data-target="#custom-object-details">
                        <span class="caret"></span>
                         {{ 'mautic.core.details'|trans }}
                    </a>
                </span>
        </div>
        <!-- some stats -->

        <!--/ stats -->
        <div class="pa-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body box-layout">
                            <div class="col-md-3 va-m">
                                <h5 class="text-white dark-md fw-sb mb-xs">
                                    <span class="fa fa-line-chart"></span>
                                    {{ 'custom.item.links.in.time'|trans }}
                                </h5>
                            </div>
                            <div class="col-md-9 va-m">
                                {{ include('@MauticCore/Helper/graph_dateselect.html.twig', {'dateRangeForm': dateRangeForm, 'class': 'pull-right'}) }}
                            </div>
                        </div>
                        <div class="pt-0 pl-15 pb-10 pr-15">
                            {{ include('@MauticCore/Helper/chart.html.twig', {'chartData': chartData, 'chartType': 'line', 'chartHeight': 300}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{- customContent('details.stats.graph.below', mauticTemplateVars|default({})) -}}

        <!-- tabs controls -->
        <ul class="nav nav-tabs pr-md pl-md">
            <li class="active">
                <a href="#fields-container" role="tab" data-toggle="tab">
                    {{ 'custom.object.tab.fields'|trans }}
                </a>
            </li>
        </ul>
        <!--/ tabs controls -->
    </div>

    <div class="tab-content pa-md">

        <!-- #fields-container -->
        <div class="tab-pane fade active in bdr-w-0" id="fields-container">
            <ul class="list-group mb-xs">
                {% for field in customObject.getCustomFields() %}
                    <li class="list-group-item bg-auto bg-light-xs">
                        <div class="box-layout">
                            <div class="col-md-1 va-m">
                                <h3>
                                    {% set isRequired = field.isRequired() ? true : false %}
                                    {% set requiredTitle = isRequired ? 'mautic.core.required' : 'mautic.core.not_required' %}
                                    {% set requiredClass = isRequired ? 'check' : 'times' %}
                                    <span class="fa fa-{{ requiredClass }} text-white dark-xs"
                                          data-toggle="tooltip"
                                          data-placement="left"
                                          title="{{ requiredTitle|trans }}">
                                    </span>
                                </h3>
                            </div>
                            <div class="col-md-7 va-m">
                                <h5 class="fw-sb text-primary mb-xs">{{ field.getLabel() }}</h5>
                            </div>
                            <div class="col-md-4 va-m text-right">
                                <em class="text-white dark-sm">{{ field.getTypeObject().getName() }}</em>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--/ #fields-container -->
    </div>
</div>